<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS + MySQL</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{> "navbar"}}
    <content id="app">
        {{{body}}}
    </content>
    <script src="/js/script.js"></script>
</body>

</html>