<h1>Livros disponíveis:</h1>
<div class="books-container">
    {{#each books}}
    <div class="book-item">
        <a href="/books/{{this.id}}">
            #{{this.id}} - {{this.title}}.
        </a>
    </div>
    {{/each}}
</div>