<h1>cadastre o seu livro:</h1>
<form action="/books/insertbook" method="post">
    <div class="form-control">
        <label class="input-label" for="title">Título:</label>
        <input class="input-empty" input-form type="text" name="title" id="title">
        <label class="input-label" for="pageqty">Páginas:</label>
        <input class="input-empty" input-form type="text" name="pageqty" id="pageqty">
    </div>
    <button class="btn btn-primary" type="submit" value="Cadastrar">Cadastrar</button>
</form>